@*
 * This template takes a single argument, a String containing a
 * message to display.(message:String)
 *@
@(dsForm:Form[Dataset])

@import helper._

@*
 * Call the the `main` template with two arguments. The first
 * argument is a `String` with the title of the page, the second
 * argument is an `Html` object containing the body of the page.
 *@
@main("Create New Dataset From Input File") {

<div class="content">
	<div>  
	  <h1>Create Dataset</h1>    
	</div>  
@if(dsForm.hasGlobalErrors) {
<div>
  <ul>
  @for(error <- dsForm.globalErrors) {
    <li><strong>@Messages(error.messages, error.arguments)</strong></li>
  }
  </ul>
  </div>
}

	<div> 
	   @helper.form(action=routes.CreateController.processform(), 'enctype -> "multipart/form-data") {  
	   
	   @helper.input(dsForm("id"), '_label -> "Enter Dataset ID", '_class -> "form-field-pair") { (id, name, value, args) =>
	    <input class="inputs" type="text" value="" size="10" autocomplete="off" name="@name" id="@id" placeholder="Dataset ID" @toHtmlArgs(args)>
	   }

	   @helper.input(dsForm("title"), '_label -> "Enter Dataset Title", '_class -> "form-field-pair") { (id, name, value, args) =>
	    <input class="inputs" type="text" autocomplete="off" name="title" id="dsTitle" placeholder="Dataset Title" value="">
	   } 
	
	   @helper.input(dsForm("filename"), '_label -> "Select Input File", '_class -> "form-field-pair") { (id, name, value, args) =>            
	    <input class="inputs" type="file" name="filename" accept=".csv, text/plain" id="fileUpload" />            
	   }      
	   
	   <div class="load"> 
	     <button class="button" type="submit" style="margin-top:20px; line-height: 20px" id="Load">
	       <span>Create Dataset</span>
	     </button> 
	   </div>          
	}    
	</div>
</div>
}