@*
 * This template takes a single argument, a String containing a
 * message to display.
 *@
@(message: String)

@*
 * Call the the `main` template with two arguments. The first
 * argument is a `String` with the title of the page, the second
 * argument is an `Html` object containing the body of the page.
 *@
@main("Please Select An Input File") {
<h1>Feed me some baked data</h1>
<img src="/assets/images/dougal.png"/>
<br/> 
    <form method="post" autocomplete="on">
      Dataset ID:<input type="text" name="name"><br>
      Dataset Title <input type="text" name="title"><br>
      <input name="filename" type="file" value="Browse for File" accept=".csv, text/plain"/>
      <input type="submit">
    </form>
<!--  
<input id="fname" type="file" value="Browse for File" accept=".csv, text/plain"/>
<br/> 
<input type="button" value="Validate" onclick="location.href='validate/' + document.getElementById('fname').value.replace(/\\/g, '|');"/>
-->
}