@*
 * This template takes a single argument, a String containing a
 * message to display.(message:String)
 *@
@(editForm:Form[Editor])

@import helper._

@*
 * Call the the `main` template with two arguments. The first
 * argument is a `String` with the title of the page, the second         
 * field = editForm("task").copy(
 * value=editForm("task").value.orElse(Some("TA")),          
 * argument is an `Html` object containing the body of the page.
 *@
@main("Edit Dataset -> Staging") {
<h1>Put Me On Stage</h1>
<img src="/assets/images/dougal.png"/>
<br/> 
    @form(action=routes.EditController.processform()) {
       @inputText(editForm("dsname"))
       @inputText(editForm("dimdsid"))
       @inputRadioGroup(
       editForm("task"),
          options = options("T"->"Load To Target","O"->"Other"),
          '_label -> "Action",
          '_error -> editForm("task").error.map(_.withMessage("select task")))
       <input type="submit" value="Submit">
    }

}