@*
 * This template takes a single argument, a String containing a
 * message to display.(message:String)
 *@
@(editForm:Form[Editor],datasetList: List[String])

@import helper._

@*
 * Call the the `main` template with two arguments. The first
 * argument is a `String` with the title of the page, the second         
 * field = editForm("task").copy(
 * value=editForm("task").value.orElse(Some("TA")),          
 * argument is an `Html` object containing the body of the page.
 *@
@main("Load to Target") {
<div class="content">
	<div>  
	  <h1>Load to Target</h1>    
	</div>  
	      
	<div> 
	   @helper.form(action=routes.LoadTargetController.processform()) {  
	   
	   	@select(
  field = editForm("dsname"),
  options = options(datasetList),
  '_label -> "Select Dataset", '_class -> "form-field-pair", 'class -> "inputs"
	)

       <input type="hidden" value="T" size="10" name="task" id="task">

	   <div class="load"> 
	     <button class="button" type="submit" style="margin-top:20px; line-height: 20px" id="Load">
	       <span>Load Dataset to Target</span>
	     </button> 
	   </div>   
    }
	</div>
</div>
}