@*
 * This template takes a single argument, a String containing a
 * message to display.
 *@
@(message: String)

@*
 * Call the the `main` template with two arguments. The first
 * argument is a `String` with the title of the page, the second
 * argument is an `Html` object containing the body of the page.
 *@
@main("log") {
 <h2>Log</h2>
  <input class="inputs" type="create" autocomplete="off" id="log" placeholder="See log" value="">
  <button class="button" type="submit" id="submit">
	<span>Log</span>
  </button>
}