@*
 * This template takes a single argument, a String containing a
 * message to display.(message:String)
 *@
@(logForm:Form[Logs])

@import helper._

@*
 * Call the the `main` template with two arguments. The first
 * argument is a `String` with the title of the page, the second
 * argument is an `Html` object containing the body of the page.
 *@
@main("Show Me The Logs") {
<div class="content">
	<div>  
	  <h1>View Log</h1>    
	</div>  
	      
	<div> 
    @form(action=routes.LogsController.showLog()) {
       @textarea(field = logForm("logtext"), args = 'rows -> 30, 'class -> "inputs-wide", '_label -> "Showing all application log entries since last deployment or restart")
    }

	</div>
</div>

}