@*
 * This template takes a single argument, a String containing a
 * message to display.(message:String)
 *@
@(metaForm:Form[Metadata],datasetList: List[String])

@import helper._

@*
 * Call the the `main` template with two arguments. The first
 * argument is a `String` with the title of the page, the second
 * argument is an `Html` object containing the body of the page.
 *@
@main("Import DCAT metadata from JSON") {

<div class="content">
	<div>  
	  <h1>Load Metadata</h1>    
	</div>  
	      
	<div> 
	   @helper.form(action=routes.MetadataController.processform()) {  
	   
	   	@select(
  field = metaForm("resourceId"),
  options = options(datasetList),
  '_label -> "Select Dataset", '_class -> "form-field-pair", 'class -> "inputs"
	)
	   
	   @helper.input(metaForm("json"), '_label -> "Enter JSON metadata", '_class -> "form-field-pair") { (id, name, value, args) =>
	    <textarea class="inputs" type="text" autocomplete="off" name="json" id="json" placeholder="JSON Metadata" value="" rows="10" cols="50"></textarea>
	   } 
	   
	   <div class="load"> 
	     <button class="button" type="submit" style="margin-top:20px; line-height: 20px" id="Load">
	       <span>Import JSON</span>
	     </button> 
	   </div>          
	}    
	</div>
</div>

}