@(datasetList: List[DimensionalDataSet])

@import helper._

@*
 * Call the the `main` template with two arguments. The first
 * argument is a `String` with the title of the page, the second
 * argument is an `Html` object containing the body of the page.
 *@
@main("Status") {

<div class="content">
	<div>  
	  <h1>Status Viewer</h1>    
	</div>  
	      
	<div> 
	
	    <table border=1 class="table">
	        <thead><th>Dataset ID</th><th>Status</th><th>Last Updated</th><th>Num Obs</th><th>Error Message</th></thead>
	        <tbody>
	@for(dataset <- datasetList){
	
	        <tr>
	         <td>@dataset.getDataResourceBean().getDataResource()</td>
	  <!--        <td>@dataset.getDimensionalDataSetId()</td> --> 
	         <td>@dataset.getStatus()</td>
	         <td>@dataset.getModified()</td>
	         <td>@dataset.getObscount()</td>
	         <td>@dataset.getValidationException()</td>
	 <!--          <td>@dataset.getLoadException()</td> -->
	         </tr>
	         }
	        </tbody>
	    </table>

	</div>
</div>
}
